{% extends 'base.html.twig' %}

{% block title %}Cart{% endblock %}

{% block body %}
    <h1>Cart</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Name</th>
                <th>Price</th>
                <th>Amount</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
            {% for medicine in medicines %}
                <tr>
                    <td><a href="{{ path('app_medicine_show', {'id': medicine.medicine.id}) }}"><h5 class="card-title">{{medicine.medicine.name}}</h5></a></td>
                    <td>{{medicine.medicine.price}}₽</td>
                    <td>{{medicine.amount}}шт.</td>
                    <td>{{ include('cart/_delete_form.html.twig') }}</td>
                </tr>
            {% else %}
                <tr>
                    <td colspan="7">no records found, please, come back later</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
    <a class="btn btn-primary" href="{{ path('app_custom_edit', {'id': custom.id}) }}">place an order</a>

    <a class="btn" href="{{ path('app_medicine_index') }}">back to list</a>

{% endblock %}