{% extends 'base.html.twig' %}

{% block title %}Medicines{% endblock %}

{% block body %}
    <h1>Medicine index</h1>
    <br>
    <form class="form-inline my-2 my-lg-0" action="{{ path("app_medicine_search") }}" method="get">
        <input class="form-control mr-sm-2" type="search" aria-label="Search" name="q">
        <button class="btn btn-default my-2 my-sm-0 active" type="submit">Найти лекарство</button>
    </form>
    <br>
    <form method="post">
        <input type="hidden" name="makeReport" value="true">
        <button type="submit" name="submit">Get report</button>
    </form>
    <br>
    <table class="table">
        <thead>
            <tr>
                <th>Name</th>
                <th>Price</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
            {% for medicine in medicines %}
                <tr>
                    <td>
                        <a href="{{ path('app_medicine_show', {'id': medicine.id}) }}">
                            <div>{{medicine.name}}</div>
                        </a>
                    </td>
                    <td>{{medicine.price}}₽</td>
                    {% if (is_granted('ROLE_CUSTOMER') or is_granted('ROLE_DOCTOR')) %}
                        <td>{{ include('medicine/_add_to_cart.html.twig') }}</td>
                    {% endif %}
                    {% if is_granted('ROLE_ADMIN') %}
                        <td><a href="{{ path('app_medicine_edit', {'id': medicine.id}) }}" class="link-secondary">edit</a></td>
                    {% endif %}
                </tr>
            {% else %}
                <tr>
                    <td colspan="7">no records found, please, come back later</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
        {% if maxPages > 1 %}
        <ul class="pagination pagination-sm">
            {# `«` arrow  #}
            <li {{ thisPage == 1 ? 'class="disabled"' }}>
                <a href="{{ path('app_pages_index', {page: thisPage-1 < 1 ? 1 : thisPage-1}) }}" class="text-center p-3 mx-auto link-secondary">«</a>
            </li>

            {# Render each page number #}
            {% for i in 1..maxPages %}
            <li {{ thisPage == i ? 'class="active"' }}>
                <a href="{{ path('app_pages_index', {page: i}) }}" class="text-center p-3 mx-auto link-secondary">{{ i }}</a>
            </li>
            {% endfor %}

            {# `»` arrow #}
            <li {{ thisPage == maxPages ? 'class="disabled"' }}>
                <a href="{{ path('app_pages_index', {page: thisPage+1 <= maxPages ? thisPage+1 : thisPage}) }}" class="text-center p-3 mx-auto link-secondary">»</a>
            </li>
        </ul>
        {% endif %}
    </div>  
    {% if is_granted('ROLE_ADMIN') %}
        <a href="{{ path('app_medicine_new') }}">Create new</a>
    {% endif %}
{% endblock %}
