{% extends 'base.html.twig' %}

{% block title %}Medicine{% endblock %}

{% block body %}
    <h1>Medicine</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Name</th>
                <td>{{ medicine.name }}</td>
            </tr>
            <tr>
                <th>Price</th>
                <td>{{ medicine.price }}</td>
            </tr>
            <tr>
                <th>Compound</th>
                <td>{{ medicine.compound }}</td>
            </tr>
            <tr>
                <th>Pharmgroup</th>
                <td>{{ medicine.pharmgroup }}</td>
            </tr>
            <tr>
                <th>Action</th>
                <td>{{ medicine.action }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('app_medicine_index') }}">back to list</a>

{% endblock %}
