{% extends 'base.html.twig' %}

{% block title %}Custom index{% endblock %}

{% block body %}
    <h1>Custom index</h1>
    <form method="post">
        <input type="hidden" name="makeReport" value="true">
        <button type="submit" name="submit">Get report</button>
    </form>
    <br>
    {% if is_granted('ROLE_DOCTOR') %}
        <form method="get" action="{{ path('get_customer_history') }}">
            <label>Customer</label>
                <select name="customer">
                {% for customer in customers %}
                    <option value="{{ customer.id }}">{{ customer.surname }} {{ customer.name }} {{ customer.patronymic }}</option>
                {% endfor %}
                </select>
            <button type="submit" name="submit">Get history</button>
        </form>
    {% endif %}
    <table class="table">
        <thead>
            <tr>
                <th>Order №</th>
                <th>Price</th>
                <th>Payment_date</th>
                <th>Complete_date</th>
                <th>Address</th>
                {% if (is_granted('ROLE_CUSTOMER') or is_granted('ROLE_DOCTOR')) %}
                <th>Status</th>
                {% endif %}
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for custom in customs %}
            <tr>
                <td>{{ custom.id }}</td>
                <td>{{ custom.price }}</td>
                <td>{{ custom.paymentDate ? custom.paymentDate|date('Y-m-d') : '' }}</td>
                <td>{{ custom.completeDate ? custom.completeDate|date('Y-m-d') : '' }}</td>
                <td>{{ custom.address }}</td>
                {% if (is_granted('ROLE_CUSTOMER') or is_granted('ROLE_DOCTOR')) %}
                <td>{{ custom.is_ready }}</td>
                {% endif %}
                <td>
                    <a href="{{ path('app_custom_show', {'id': custom.id}) }}">show</a>
                    
                    {% if ((is_granted('ROLE_CUSTOMER') and custom.is_ready=='не готов') or is_granted('ROLE_COURIER')) %}
                        <form method="post" action="{{ path('app_custom_ready', {'id': custom.id}) }}">
                            <input type="hidden" name="id" value="{{ custom.id }}">
                            <button class="btn">Make ready</button>
                        </form>
                    {% endif %}
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="7">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
{% endblock %}
