{% extends 'base.html.twig' %}

{% block title %}Custom{% endblock %}

{% block body %}
    <h1>Custom</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ custom.id }}</td>
            </tr>
            <tr>
                <th>Customer</th>
                <td>{{ custom.customer }}</td>
            </tr>
            <tr>
                <th>Doctor</th>
                <td>{{ custom.doctor }}</td>
            </tr>
            <tr>
                <th>Courier</th>
                <td>{{ custom.courier }}</td>
            </tr>
            <tr>
                <th>Price</th>
                <td>{{ custom.price }}₽</td>
            </tr>
            <tr>
                <th>Payment_date</th>
                <td>{{ custom.paymentDate ? custom.paymentDate|date('Y-m-d') : '' }}</td>
            </tr>
            <tr>
                <th>Complete_date</th>
                <td>{{ custom.completeDate ? custom.completeDate|date('Y-m-d') : '' }}</td>
            </tr>
            <tr>
                <th>Address</th>
                <td>{{ custom.address }}</td>
            </tr>
            <tr>
                <th>Medicines</th>
                <td>
                    <select name="medicine">
                    {% for medicine in medicines %}
                        <option value="{{ medicine.id }}">{{ medicine.medicine.name }} {{ medicine.medicine.price }}₽ {{ medicine.amount }}шт.</option>
                    {% endfor %}
                </td>
            </tr>

        </tbody>
    </table>

    <a href="{{ path('app_custom_index') }}">back to list</a>

    {{ include('custom/_delete_form.html.twig') }}
{% endblock %}
