{% extends 'base.html.twig' %}

{% block title %}Hospital index{% endblock %}

{% block body %}
    <h1>Hospital index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Name</th>
                <th>City</th>
                <th>Phone</th>
                <th>Email</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for hospital in hospitals %}
            <tr>
                <td>{{ hospital.name }}</td>
                <td>{{ hospital.city }}</td>
                <td>{{ hospital.phone }}</td>
                <td>{{ hospital.email }}</td>
                <td>
                    <a href="{{ path('app_hospital_show', {'id': hospital.id}) }}">show</a>
                    {% if is_granted('ROLE_ADMIN') %}
                        <a href="{{ path('app_hospital_edit', {'id': hospital.id}) }}">edit</a>
                    {% endif %}
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="6">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    {% if is_granted('ROLE_ADMIN') %}
        <a href="{{ path('app_hospital_new') }}">Create new</a>
    {% endif %}
{% endblock %}
