{% extends 'base.html.twig' %}

{% block title %}Doctor{% endblock %}

{% block body %}
    <h1>Doctor</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>ФИО</th>
                <td>{{ user_doc.surname }} {{ user_doc.name }} {{ user_doc.patronymic }}</td>
            </tr>
            <tr>
                <th>Специализация</th>
                <td>{{ doctor.specialization }}</td>
            </tr>
            <tr>
                <th>Должность</th>
                <td>{{ doctor.post }}</td>
            </tr>
            <tr>
                <th>Больница</th>
                <td><a href="{{ path('app_hospital_show', {'id': doctor.hospital.id}) }}">{{ doctor.hospital.name }}</a></td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('app_doctor_index') }}">back to list</a>
{% endblock %}
