<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Pharmsoft{% endblock %}</title>
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-+0n0xVW2eSR5OomGNYDnhzAbDsOXxcvSN1TPprVMTNDbiYZCxYbOOl7+AMvyTG2x" crossorigin="anonymous">
        <link rel="icon" href="data:image/svg+xml,<svg xmlns=%22http://www.w3.org/2000/svg%22 viewBox=%220 0 128 128%22><text y=%221.2em%22 font-size=%2296%22>⚫️</text></svg>">
        {# Run `composer require symfony/webpack-encore-bundle` to start using Symfony UX #}
        {% block stylesheets %}
            {{ encore_entry_link_tags('app') }}
        {% endblock %}

        {% block javascripts %}
            {{ encore_entry_script_tags('app') }}
        {% endblock %}
    </head>
    <div class="container sticky-lg-top bg-gradient bg-black">
        <header class="d-flex flex-wrap align-items-center justify-content-md-between py-3 mb-4 border-bottom">
            <a class="d-flex align-items-center col-md-3 mb-2 mb-md-0 text-dark text-decoration-none" href="/">
                Pharmsoft
            </a>
            <div style='width:40%;'>
            {% if is_granted('IS_AUTHENTICATED_FULLY') %}
                <ul class="nav col-12 col-md-auto mb-2 mb-md-0" style='display:flex;justify-content:space-around;'>
                    <li><a href="{{ path('app_user_show', {'id': user.id}) }}">{{user.email}}</a></li>
                    {% if (is_granted('ROLE_CUSTOMER') or is_granted('ROLE_DOCTOR')) %}
                        <li><a class="d-flex align-items-center col-md-3 mb-2 mb-md-0 text-dark text-decoration-none" href="{{ path('app_medicine_index') }}">Medicines</a></li>
                        <li><a class="d-flex align-items-center col-md-3 mb-2 mb-md-0 text-dark text-decoration-none" href="{{ path('app_cart') }}">Cart</a></li>
                    {% endif %}
                    {% if is_granted('ROLE_CUSTOMER') %}
                        <li><a class="d-flex align-items-center col-md-3 mb-2 mb-md-0 text-dark text-decoration-none" href="{{ path('app_custom_index') }}">My customs</a></li>
                    {% endif %}
                    {% if is_granted('ROLE_COURIER') %}
                        <li><a class="d-flex align-items-center col-md-3 mb-2 mb-md-0 text-dark text-decoration-none" href="{{ path('app_courier_custom_index') }}">Customs to deliver</a></li>
                    {% endif %}
                    {% if is_granted('ROLE_ADMIN') %}
                        <li><a href="{{ path('admin') }}" class="nav-link px-2 link-secondary h5">Административная панель</a></li>
                    {% endif %}
                    <li><a href="{{ path('app_logout') }}" class="nav-link px-2 link-secondary h5">Выход</a></li>
            {% else %}
                <a class="d-flex align-items-center col-md-3 mb-2 mb-md-0 text-dark text-decoration-none" href="{{ path('app_login') }}">Login</a>
                <a class="d-flex align-items-center col-md-3 mb-2 mb-md-0 text-dark text-decoration-none" href="{{ path('app_register') }}">Register</a>
            {% endif %}
            </div>
        </header>
    </div>
    <body>
        {% block body %}{% endblock %}
    </body>
</html>
