<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Pharmsoft{% endblock %}</title>
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-+0n0xVW2eSR5OomGNYDnhzAbDsOXxcvSN1TPprVMTNDbiYZCxYbOOl7+AMvyTG2x" crossorigin="anonymous">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="icon" href="data:image/svg+xml,<svg xmlns=%22http://www.w3.org/2000/svg%22 viewBox=%220 0 128 128%22><text y=%221.2em%22 font-size=%2296%22>⚫️</text></svg>">
        {# Run `composer require symfony/webpack-encore-bundle` to start using Symfony UX #}
        {% block stylesheets %}
            {{ encore_entry_link_tags('app') }}
        {% endblock %}

        {% block javascripts %}
            {{ encore_entry_script_tags('app') }}
        {% endblock %}
    </head>
    <div class="container">
        <header class="d-flex flex-wrap justify-content-center py-3 mb-4 border-bottom">
            <a class="d-flex align-items-center mb-3 mb-md-0 me-md-auto text-dark text-decoration-none fs-4" href="/">
                Pharmsoft
            </a>
            <ul class="nav nav-pills">
            {% if is_granted('IS_AUTHENTICATED_FULLY') %}
                    <li class="nav-item"><a class="nav-link active" href="{{ path('app_user_show', {'id': user.id}) }}">{{user.email}}</a></li>
                    {% if (is_granted('ROLE_CUSTOMER') or is_granted('ROLE_DOCTOR')) %}
                        <li class="nav-item"><a class="nav-link" class="d-flex align-items-center col-md-3 mb-2 mb-md-0 text-dark text-decoration-none" href="{{ path('app_cart') }}">Cart</a></li>
                        <li class="nav-item"><a class="nav-link" class="d-flex align-items-center col-md-3 mb-2 mb-md-0 text-dark text-decoration-none" href="{{ path('app_custom_index') }}">My customs</a></li>
                    {% endif %}
                    {% if is_granted('ROLE_COURIER') %}
                        <li class="nav-item"><a class="nav-link" href="{{ path('app_custom_index') }}">Customs to deliver</a></li>
                    {% endif %}
                    {% if is_granted('ROLE_ADMIN') %}
                        <li class="nav-item"><a class="nav-link" href="{{ path('admin') }}">Административная панель</a></li>
                    {% endif %}
                    <li class="nav-item"><a class="nav-link active" href="{{ path('app_logout') }}">Выход</a></li>
            {% else %}
                <li class="nav-item"><a class="nav-link" class="d-flex align-items-center col-md-3 mb-2 mb-md-0 text-dark text-decoration-none" href="{{ path('app_medicine_index') }}">Medicines</a></li>
                <li class="nav-item"><a class="nav-link active" href="{{ path('app_login') }}">Login</a></li>
                <li class="nav-item"><a class="nav-link" href="{{ path('app_register') }}">Register</a></li>
            {% endif %}
        </header>
    </div>
    <body>
        {% block body %}{% endblock %}
    </body>
</html>
