{% block body %}
    <h1>Пользователь: {{user.surname}} {{user.name}} {{user.patronymic}}</h1>
    <h1>Заказы</h1>
    <table class="table">
        <thead>
            <tr>
                <th>Номер</th>
                <th>Цена</th>
                <th>Дата оплаты</th>
                <th>Дата доставки</th>
                <th>Адрес</th>
                {% if (is_granted('ROLE_CUSTOMER') or is_granted('ROLE_DOCTOR')) %}
                <th>Статус</th>
                {% endif %}
            </tr>
        </thead>
        <tbody>
        {% for custom in customs %}
            <tr>
                <td>{{ custom.id }}</td>
                <td>{{ custom.price }}</td>
                <td>{{ custom.paymentDate ? custom.paymentDate|date('Y-m-d') : '' }}</td>
                <td>{{ custom.completeDate ? custom.completeDate|date('Y-m-d') : '' }}</td>
                <td>{{ custom.address }}</td>
                {% if (is_granted('ROLE_CUSTOMER') or is_granted('ROLE_DOCTOR')) %}
                    <td>{{ custom.is_ready }}</td>
                {% endif %}
            </tr>
        {% else %}
            <tr>
                <td colspan="7">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
{% endblock %}