{% block body %}
    <h1>Лекарства</h1>
    <table class="table">
        <thead>
            <tr>
                <th>Название</th>
                <th>Фармгруппа</th>
                <th>Действие</th>
                <th>Цена</th>
                <th>В наличии</th>
                <th>Куплено за все время</th>
            </tr>
        </thead>
        <tbody>
            {% for i in range(0,count-1) %}
                <tr>
                    <td>{{medicines[i].name}}</td>
                    <td>{{medicines[i].pharmgroup}}</td>
                    <td>{{medicines[i].action}}</td>
                    <td>{{medicines[i].price}}₽</td>
                    <td>{{in_stocks[i].in_stock}}</td>
                    <td>{{boughts[i].bought}}</td>
                </tr>
            {% else %}
                <tr>
                    <td colspan="7">no records found, please, come back later</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
{% endblock %}